@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.ant-layout-header{
    background: #b20835 !important;
    padding: 0 20px !important;
}
.logo-icon:hover{
    color: transparent;
    text-decoration: none;
}
.ant-layout-sider {
    background: unset !important;
}
.ant-layout-sider-trigger{
    background: #b20835 !important;
}
@media only screen and (max-width: 750px) {
    .blur{
        filter: blur(1rem);
    }
}