@media only screen and (max-width: 750px) {
    h1{
       font-size: 25px !important;
    }
    h2{
        font-size: 25px !important;
    }
    .resize.d-flex{
        display: unset !important;
    }
    .resize-content{
        width: 100% !important;
    }
}